.product img{
    transition: all 0.5 ease;
    width: 260px;
    height: 200px;
    padding-left: 10px;
    margin-left:30px;
    margin-bottom: 30px;
}

.product img:hover{
    transform:scale(1.1);
}
h4 {
    font-size: 40px;
}
.title{
    color: blue;
    font-size: 23px;
}

.fa-star{
    color: red;
}

#btn-info{
    color: #fff;
    font-weight: bold;
}

#cart{
    font-size: 30px;
}

.nav-item{
    font-size: 20px;
}