@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-brand{
    font-family: 'Lobster', cursive;
   
    
   
}

h1{
 background: -webkit-linear-gradient( top right, purple , darkblue);
 background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;

      
}

#menu{
    margin-left: 2rem;
    font-size: 20px;
 }


.nav-item{
    display: inline-block;
}

#cart{
    font-size: 20px;
    
}


@media only screen and (min-width: 768px){
    #menu{
        margin-left: 19rem;
        font-size: 30px;
     }

     #cart{
        font-size: 30px;
        
    }
}



@media only screen and (min-width: 1024px){
    #btn-cart{
        font-size: 30px;
        margin-left: -40px;
        padding-right: 20px;
    }
}