@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar-brand{
    font-family: 'Lobster', cursive;
    
   
}

h4{
    text-align: center;
 background: -webkit-linear-gradient( top right, purple , darkblue);
 background-clip: text;
-webkit-text-fill-color: transparent;
      
}

#brand{
    font-size: 26px;
    padding-left: 7px;
}

.nav-item{
    display: inline-block;
    text-align: left;
}

