.footer{
    background-color: black;
    padding: 10px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
    font-size:22px;
    margin-top: -35px;
    
}

